@use 'variables';
@use 'mixins' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

body{
    font-family: variables.$fuente;
    position: relative;
}

button{
    @include button($bg:transparent);
}

main{
    @include media(md){
        @include flex(column)
    }
}