@use 'variables';

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($columns: 0, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  align-items: center;
}

@mixin media($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin button($bg, $color: white) {
  background-color: $bg;
  color: $color;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

@mixin hover-underline($background) {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom:-0.5rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: $background;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

// Mixins propios
@mixin container($inline: 3rem, $block: 5rem) {
  padding-inline: $inline;
  padding-block: $block;
}

@mixin titulos($font-size:3.7rem,$weight:600, $line-height:3.5rem, $spacing:0rem,$transform:none) {
  font-size: $font-size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $spacing;
  text-transform: $transform;
}

@mixin parrafos($font-size:1.58rem) {
  color: gray;
  text-align: left;
  font-size: $font-size;
  line-height: 2rem;
}

