@use 'mixins' as *;

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  @include container(2rem, 4rem);
  @include grid($columns: 3);
  @include media(md) {
    width: 50%;
    @include container(6rem, 6rem);
    @include grid($columns: 2);
    grid-template-columns: auto 1fr;
    gap: 5.5rem;
  }

  &__menu-button {
    justify-self: left;
    @include media(md) {
      display: none;
    }
  }

  &__logo-icon {
    justify-self: center;
    @include media(md) {
      width: max-content;
      justify-self: left;
    }
  }

  &__menu-container {
    display: none;
    @include media(md) {
      display: block;
      width: 100%;
      justify-self: start;
    }

    &--displayed {
      background-color: white;
      @include flex(row, $justify:space-between);
      padding-inline: 2.7rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 11rem;
    }
  }

  &__menu-text {
    @include flex($justify: start, $gap: 2rem);
  }

  &__menu-item {
    color: white;
    font-size: 1.6rem;
    @include hover-underline(white);

    &--displayed{
      color: black;
      font-size: 1.5rem;
      font-weight: 600;
      @include hover-underline(black);
    }
  }

  &__close-button {
    @include media(md) {
      display: none;
    }
  }
}
